.menu {
    display: flex;
}
.menu .menu-item{
    list-style: none;
    width: 10vw;
    min-width: var(--min-width);
    max-width: var(--max-width);
    padding: 10px 20px;
    white-space: nowrap;
    border: 1px solid transparent;
    text-align: center;
}

.menu .menu-item.active {
    border-bottom-color: #1890FF;
    color: #1890FF;
}

.menu.vertical{
    flex-direction: column;
}

.menu.vertical .menu-item.active{
    border-left-color: #1890FF;
    color: #1890FF;
}